
#ban {
    width: 800px;
    height: 200px;
}

img {
    width:200px;
    height:100px;
    border : 2px solid #2B2D42;
    display: block;
    margin-left : auto;
    margin-right : auto;
}
nav{
    text-align: center;
}

.div1{    
    border : 1px black solid;
}

h1 {
    color : #EF233C;
    font-size : 70px;
    font-family : impact;
    font-weight : bolder;
    text-align: center;
}

h3 {
    color: #2B2D42;
    font-size:30px;
    font-weight: bolder;
    text-decoration : underline dotted;
}

footer {
    text-align: right;
}

body {
    background-image: radial-gradient(circle at top ,#CCDAE0  , #EDF2F4);
}

ul {
    list-style-type: none;
}

fieldset{
    border:none;
}

input, label{
    margin-left: 30px;
    margin-right: 20px;
    margin-top:10px
}

textarea{
    margin-top: 30px;
}

a{
    color :#D90429;
}
a:visited{
    color:grey;
}
a:hover{
    color:#2B2D42;
}

label abbr {
    color :red;
}

form {
    border : 5px black solid;
}

#button{
    text-align:center;
}

